*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    height: 5vw;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header button{
    margin-right: 20px;
}
header h1{
    margin-left: 20px;
}
main nav{
    display: flex;
    height: 40vw;
    background-color: gray;
    width: 20vh;
    flex-direction: column;
}
footer{
    color:white;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
footer p{
    font-size: 20px;
}
nav a{
    margin-left: 10px;
    margin-top: 5px;
}